@use "../abstracts" as *;

.rating-card {
  display: flex;
  align-items: center;
  padding: 1.8rem 3.1rem;
  background-color: $magenta-light;
  border-radius: $border-radius-card;
  &__stars-container {
    margin-right: 3rem;
    > img {
      width: 1.8rem;
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }
  }
  &__text {
    font-size: 1.7rem;
    font-weight: 600;
    color: $magenta-darker;
  }
}
